/* Style for the navigation bar */
.navbar {
    width: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
}

.navbar2{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
}

.navbar2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar2 ul li{
    margin-right: 20px;
}

.navbar2 a{
    text-decoration: none;
    color: #333;
}

/* Hover effect for the links
.navbar2 a:hover {
    color: #666;
    text-decoration: underline;
} */

/* Center the text in the middle of the page */
.center-text {
    text-align: center;
    margin-top: 15%; /* Adjust the margin-top to center it vertically */
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: 10;
}

.name {
    background: none;
    border: none;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
}

.name:hover{
    font-weight: 1000;
    font-size: 40px;
    color: rgba(22, 30, 41, 0.805);
    transition: 0.3s;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    z-index: 99;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 6px 0px;
    transition: 0.4s;
    
}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-7px, 5px);
    background-color: #fff;
}

.hamburger.is-active .bar{
    opacity: 0;

}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px,-8px);
    background-color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #2a3041;
    padding-top: 20%;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    font-size: 30px;
    width: 100%;
    max-width: 200px;
    margin: 0 30%;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
}

.mobile-nav a:hover{
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: 0 0 5em white,
    0 0 3em white,
    0 0 1em white,
    0 0 .5em white;
    transition: 0.4s;
}

.underline-swipe{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.underline-swipe::before,
.underline-swipe::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #666; /* Color of the swipe effect */
    height: 2px; /* Thickness of the swipe effect */
    transition: left 0.3s, right 0.3s; /* Add transitions for both sides */
}

.underline-swipe:hover {
    color: #666; /* Text color on hover */
    transition: 0.3s;
}

.underline-swipe:hover::before,
.underline-swipe:hover::after {
    left: 0;
    right: 0;
}